.pep-column-count{
    border-radius: 10px;
    font-family: "Bitstream Vera Sans Mono","DejaVu Sans Mono", "Monaco", "Courier", "monospace";
    font-size: 11px;
    line-height: 14px;
    margin-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    pointer-events: none;
    position: absolute;
    right: 1px;
}

.error{
    background-color: rgb(227,71,64);
    color: white;
}

.clean{
    background-color: rgba(125, 125, 125, 0.3);
    color: rgba(0, 0, 0, 0.3);
}

.gutter-error{
    background: rgba(227,71,64, 0.7);
    box-shadow: 0 0 0 1px black;
    border-radius: 6px;
    left: -21px;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    z-index: 2;
}

.outline-error{
    outline: solid 1px rgba(227,71,64, 0.7);
    height: 16px;
    margin-top: 1px;
    pointer-events: none;
    position: absolute;
    width: 100%;
}

.todo{
    box-shadow: 0px 0px 1px 3px rgba(227,71,64, 0.7);
    z-index: 1;
}